<div class="page">
  <header class="header">
    <nav>
      <ul>
        <li routerLinkActive="active-link">
          <a routerLink="/dashboard"
            ><div class="menu-item">
              <i class="svg-icon svg-icon__dashboard"></i>
              <span>Dashboard</span>
            </div></a
          >
        </li>
        <li routerLinkActive="active-link">
          <a routerLink="/relationship-income"
            ><div class="menu-item">
              <i class="svg-icon svg-icon__profits"></i>
              <span>Relationship Income</span>
            </div></a
          >
        </li>
        <li routerLinkActive="active-link">
          <a routerLink="/deals"
            ><div class="menu-item">
              <i class="svg-icon svg-icon__deals"></i>
              <span>Deals</span>
            </div></a
          >
        </li>
        <li routerLinkActive="active-link">
          <a routerLink="/access"
            ><div class="menu-item">
              <i class="svg-icon svg-icon__access"></i>
              <span>Access</span>
            </div></a
          >
        </li>
        <li routerLinkActive="active-link">
          <a routerLink="/details"
            ><div class="menu-item">
              <i class="svg-icon svg-icon__details"></i>
              <span>Details</span>
            </div></a
          >
        </li>
      </ul>
    </nav>
  </header>
  <main class="container"><router-outlet></router-outlet></main>
  <footer class="footer"><span>v1.0</span></footer>
</div>
